<div class="col-xs-8 col-xs-offset-2 col-lg-4 col-lg-offset-4">
  <!--character previews -->
  <mat-card class="col-xs-4">
    <mat-card-header>
      My Characters
    </mat-card-header>
    <mat-card-content>
      <mat-grid-list cols="3" class="charGrid">
        <mat-grid-tile *ngFor="let character of (characters | async)">
          <button mat-raised-button (click)="toCharacter(character.name)" class="charPanel" color="primary">
            {{ character.name }}
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>

  <!--monsters preview -->
  <mat-card class="col-xs-4">
    <mat-card-header>
      My Monsters
    </mat-card-header>
    <mat-card-content>
      <mat-grid-list cols="3" class="charGrid">
        <mat-grid-tile *ngFor="let monster of (monsters| async)" >
          <button mat-raised-button (click)="toMonster(monster.name)"  class="charPanel" color="accent">
            {{ monster.name }}
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>

  <!--map preview -->
  <mat-card class="col-xs-12">
    <mat-card-header>
      My Maps
    </mat-card-header>
    <mat-card-content>
      <mat-grid-list cols="4" class="charGrid">
        <mat-grid-tile *ngFor="let map of (maps | async)" >
          <button mat-raised-button (click)="toMap(map.name)"  class="charPanel" color="primary">
            {{ map.name }}
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>
