<div class="col-xs-10 col-xs-offset-1" *ngIf="character | async">

    <!--name-->
    <md-card class="col-xs-4">
        <md-card-title>
            {{ (character | async).name }}
        </md-card-title>
        <md-card-subtitle>
            Name
        </md-card-subtitle>
    </md-card>

    <div class="col-xs-8">
        <form class="characterSheet">
            <table cellspacing="0">
                <tr>
                <td>
                    <md-form-field>
                        <input mdInput placeholder="Character Name">
                    </md-form-field>
                </td>
                <td>
                    <md-form-field>
                        <input mdInput placeholder="Player">
                    </md-form-field>
                </td>
                </tr>
            </table>
        </form>
    </div>
</div>

