<div class="col-xs-10 col-xs-offset-1" *ngIf="character | async">

    <!--name-->
    <md-card class="col-xs-4">
        <md-card-title>
            {{ (character | async).name }}
        </md-card-title>
        <md-card-subtitle>
            Name
        </md-card-subtitle>
    </md-card>

    <div class="col-xs-8">
        <!--class-->
        <md-expansion-panel>
            <md-expansion-panel-header>
                <md-panel-title>
                    Class
                </md-panel-title>
                <md-panel-description>
                    {{ (character | async).class }}
                </md-panel-description>
            </md-expansion-panel-header>

            <md-form-field>
                <input mdInput [(ngModel)]="pcClass">
            </md-form-field>
        </md-expansion-panel>

        <!--level-->
        <md-expansion-panel>
            <md-expansion-panel-header>
                <md-panel-title>
                    Level
                </md-panel-title>
                <md-panel-description>
                    {{ (character | async).level }}
                </md-panel-description>
            </md-expansion-panel-header>

            <md-form-field>
                <input type="number" mdInput min="1" max="20" [(ngModel)]="pc.level">
            </md-form-field>
            <md-action-row>
                <button class="btn btn-success" (click)="savePC()">Save</button>
            </md-action-row>
        </md-expansion-panel>

        <!--race-->
        <md-expansion-panel>
            <md-expansion-panel-header>
                <md-panel-title>
                    Race
                </md-panel-title>
                <md-panel-description>
                    {{ (character | async).race }}
                </md-panel-description>
            </md-expansion-panel-header>

            <md-form-field>
                <input mdInput [(ngModel)]="pcRace">
            </md-form-field>
        </md-expansion-panel>
    </div>
</div>

