<mat-sidenav-container>
  <mat-tab-group *ngIf="(cellList | async)">
    <!--map editor-->
    <mat-tab label="Edit" >
      <mat-toolbar>EDITOR</mat-toolbar>
      <mat-grid-list [cols]="columns" class="editorGrid col-xs-8 col-xs-offset-2">
        <mat-grid-tile *ngFor="let cell of (cellList | async)">
          <button mat-raised-button class="cellTile"  [ngStyle]="{'background-color': getCellColor(cell.color)}">
            R:{{ cell.color.red }} G: {{cell.color.green }} B: {{ cell.color.blue }}
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>

    <!--dm notes -->
    <mat-tab label="Notes">
      <mat-toolbar>NOTES</mat-toolbar>
    </mat-tab>

    <!--map info -->
    <mat-tab>
      <ng-template mat-tab-label>
        <button mat-icon-button>
          <mat-icon>info</mat-icon>
        </button>
      </ng-template>

      <mat-toolbar class="info-toolbar" color="primary">
        <span>Stats: {{ map.name }}</span>
        <span class="filler"></span>
      </mat-toolbar>
      <mat-list >
        <!--map stats-->
        <mat-list-item *ngFor="let stat of stats">
          <mat-icon mat-list-icon>data</mat-icon>
          <h4 mat-line>{{stat}}</h4>
        </mat-list-item>
        <!--players -->
        <mat-divider></mat-divider>
        <h3 mat-subheader>Players</h3>
        <mat-list-item *ngFor="let character of (mapData | async)?.characters">
          <mat-icon mat-list-icon>person</mat-icon>
          <h4 mat-line>{{character.name}}</h4>
          <p mat-line> {{character.classOne}} </p>
        </mat-list-item>
      </mat-list>
    </mat-tab>
  </mat-tab-group>
</mat-sidenav-container>

<!--loading-->
<mat-progress-spinner *ngIf="!mapData"></mat-progress-spinner>
