<mat-tab-group *ngIf="columns != 0">
  <!--map editor-->
  <mat-tab label="Edit">
    <mat-toolbar class="col-xs-12">
      <span>Editor: {{ map.name }}</span>
      <span class="filler"></span>
      <button mat-icon-button (click)="saveMap()">
        <mat-icon>save</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>
    </mat-toolbar>
    <!-- editor cell grid -->
    <div class="editorGrid col-xs-6 col-xs-offset-3 col-lg-4 col-lg-offset-4">
      <mat-grid-list [cols]="columns" rowHeight="60px">
        <mat-grid-tile class="editorTile" *ngFor="let cell of (cellList | async)">
          <button mat-raised-button
                  (click)="cellSelect(cell, cell.key)"
                  class="cellButton"
                  [class.brush-cursor]="null !== selectedAsset"
                  [ngStyle]="{'background-color': getCellColor(cell.color)}">
            {{ cell.key }}
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

    <!-- quick-access brush tools -->
    <div class="col-xs-3 col-lg-4 quick-brush-panel">
      <mat-list>
        <h1 mat-subheader>Quick Brush</h1>
        <h3 mat-subheader>
          <mat-icon mat-list-icon>map</mat-icon>
          Terrain
        </h3>
        <div *ngIf="terrainList" class="quick-brush-panel-section">
          <mat-list-item *ngFor="let terrain of terrainList | async">
            <p mat-line>
              <button mat-raised-button
                      [ngStyle]="{'background-color': getTerrainColor(terrain.red, terrain.green, terrain.blue)}"
                      [class.selected]="terrain === selectedAsset"
                      (click)="toggleBrush(terrain, 'terrain')">
                {{ terrain.key }}
              </button>
            </p>
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
        <h3 mat-subheader>
          <mat-icon mat-list-icon>work</mat-icon>
          Items
        </h3>
        <div *ngIf="itemList" class="quick-brush-panel-section">
          <mat-list-item *ngFor="let item of itemList | async">
            <h4 mat-line>{{ item.key }}</h4>
            <p mat-line> {{ item.rarity }} </p>
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
  </mat-tab>

  <!-- info tab -->

  <!-- help tab -->
</mat-tab-group>
