<nav *ngIf="(user | async)" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"><img src="../favicon.ico"></a>
            <ul class="nav navbar-nav nav-tabs">
                <li ><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
                <li ><a routerLink="/myPCs" routerLinkActive="active">Character List</a></li>
            </ul>
            <!--Displays logged in user -->
            <p *ngIf="(user | async)" class="navbar-text">Signed in as:
                <a class="navbar-link navbar-right">{{ (user | async)?.uid }}</a>
                <a class="btn btn-default" (click)="logout()"> Logout </a>
            </p>
        </div>
    </div><!-- /.container-fluid -->
</nav>


<router-outlet></router-outlet>
