<mat-sidenav-container>
  <!--navigation-->
  <mat-toolbar color="primary">
    <img class="icon" src="../favicon.ico">
    <span class="spacer">
      DnD With Friends
      <button mat-icon-button [disabled]="!(user | async)" routerLink="/dashboard"><mat-icon>home</mat-icon></button>

      <!--menu-->
      <button mat-button [disabled]="!(user | async)" [matMenuTriggerFor]="userMenu">Menu</button>
      <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item routerLink="/myCharacters">Characters</button>
        <button mat-menu-item routerLink="/myMonsters">Monsters</button>
        <button mat-menu-item routerLink="/myMaps">Maps</button>
        <button mat-menu-item routerLink="/myItems">Items</button>
      </mat-menu>

      <!--user display-->
      <mat-basic-chip *ngIf="(user | async)">User: {{(user | async)?.email }}</mat-basic-chip>
    </span>
    <button mat-icon-button [disabled]="!(user | async)" [matMenuTriggerFor]="helpMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #helpMenu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item (click)="logout()"> Logout </button>
      <button mat-menu-item> Help </button>
    </mat-menu>
  </mat-toolbar>


  <!--component outlet from router-->
  <router-outlet></router-outlet>
</mat-sidenav-container>
