<!--Display a list of all characters for this user-->
<div class="col-xs-4">
    <ul *ngIf="myCharacters" class="characterList">
        <li *ngFor="let character of myCharacters | async"
            (click)="onSelect(character)"
            [class.selected] = "character === currentPC">
            <span class="badge">{{ character.class }}</span>  {{character.name}}
        </li>
    </ul>
</div>


<!--Display preview of selected-->
<div class="col-xs-8">
    <div *ngIf="currentPC">
        <h2>
            {{ currentPC.name | uppercase }} selected
        </h2>
        <button class="btn btn-info" (click)="gotoDetail()">View Details</button>
        <button class="btn btn-danger" (click)="deleteCharacter()">Delete</button>
    </div>
</div>


<!--For adding new characters -->
<div class="col-xs-12">
    <button class="btn btn-sm btn-success" (click)="createCharacter()">New</button>
</div>