<!--Display a list of all characters for this user-->
<ul *ngIf="myCharacters" class="characterList">
    <li *ngFor="let character of myCharacters | async"
        (click)="onSelect(character)"
        [class.selected] = "character === currentPC">
        <span class="badge">{{ character.class }}</span>  {{character.name}}
    </li>
</ul>

<!--Display preview of selected-->
<div *ngIf="currentPC">
    <h2>
        {{ currentPC.name | uppercase }} selected
    </h2>
    <button class="btn btn-info" (click)="gotoDetail()">View Details</button>
</div>