<h3>Select Asset</h3>
<mat-tab-group>
  <mat-tab label="Terrains">
    <mat-list>
      <mat-list-item *ngFor="let terrain of (terrainList | async)">
        <mat-icon mat-list-icon>map</mat-icon>
        <h4 mat-line>{{terrain.key}}</h4>
        <button mat-raised-button
                mat-icon-button
                [ngStyle]="{'background-color': getTerrainColor(terrain.red, terrain.green, terrain.blue)}"
                (click)="onSelect(terrain)">
          <mat-icon>add</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-tab>

  <mat-tab label="Players">
    <span *ngIf="!players">No Players in this game!</span>
  </mat-tab>

  <mat-tab label="Monsters">
    <span *ngIf="!monsters">No monsters in this game!</span>
  </mat-tab>

  <mat-tab label="Items">
    <span *ngIf="!items">No items in this game!</span>
  </mat-tab>


</mat-tab-group>
