<mat-card class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3"
          *ngIf="itemData | async">

  <mat-card-title>{{item.name}}</mat-card-title>

  <!--description-->
  <div class="col-xs-4">
    <mat-card-subtitle>Description</mat-card-subtitle>
    <mat-form-field>
      <textarea matInput [(ngModel)]="item.description"></textarea>
    </mat-form-field>
  </div>

  <!--config-->
  <div class="col-xs-3">
    <mat-card-subtitle>Type</mat-card-subtitle>
    <mat-checkbox [(ngModel)]="item.hasCharges">Charged?</mat-checkbox>
    <mat-checkbox [(ngModel)]="item.equippable">Equipment?</mat-checkbox>
    <div *ngIf="item.equippable">
      <mat-radio-group [(ngModel)]="item.equipmentType">
        <mat-radio-button value="weapon">Weapon</mat-radio-button>
        <mat-radio-button value="armor">Armor</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <!--stats-->
  <div class="col-xs-3">
    <mat-card-subtitle>Stats</mat-card-subtitle>

    <!--rarity-->
    <mat-form-field>
      <mat-select placeholder="Rarity" [(value)]="item.rarity">
        <mat-option *ngFor="let rarity of rarities" [value]="rarity">
          {{ rarity }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!--charges-->
    <div>
      <mat-form-field *ngIf="item.hasCharges">
        <input matInput class="col-xs-6" type="number" min=0 max=20 placeholder="Max Charges" [(ngModel)]="item.maxCharges">
      </mat-form-field>
    </div>
  </div>


  <!--update button-->
  <div class="col-xs-12">
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="saveItem()">
        Save Changes
      </button>
    </mat-card-actions>
  </div>
</mat-card>


<mat-progress-spinner *ngIf="!f_load" class="col-xs-6 col-xs-offset-4"></mat-progress-spinner>
