<mat-tab-group *ngIf="pcData | async">
  <mat-tab label="Overview">
    <mat-card class="col-xs-12">
      <!--character overview banner -->
      <!--row 1-->
      <mat-card class="col-xs-12">
        <mat-card-title>{{pc.name}}</mat-card-title>
        <mat-form-field class="col-xs-2">
          <mat-select matInput placeholder="class" name="class" [(ngModel)]="pc.classOne">
            <mat-option *ngFor="let pcClass of pcClasses" [value]="pcClass.selector">{{ pcClass.val }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-xs-2">
          <input matInput placeholder="level" type="number" name="level" [(ngModel)]="pc.classOneLevel" min=0 max=20 step=1>
        </mat-form-field>
        <mat-form-field class="col-xs-2">
          <input matInput placeholder="AC" type="number" name="ac" [(ngModel)]="pc.armorClass" min=0 max=99 step=1>
        </mat-form-field>
        <mat-form-field class="col-xs-2">
          <input matInput placeholder="Max HP" type="number" name="maxHP" [(ngModel)]="pc.maxHP" min=0 max=999 step=1>
        </mat-form-field>
        <mat-form-field class="col-xs-2">
          <input matInput placeholder="Speed" type="number" name="speed" [(ngModel)]="pc.speed" min=0 max=20 step=1>
        </mat-form-field>
      </mat-card>

      <!--row 2-->
      <mat-card class="col-xs-12">
        <mat-form-field class="col-xs-3">
          <input matInput placeholder="background" name="background" type="text" [(ngModel)]="pc.background" >
        </mat-form-field>
        <mat-form-field class="col-xs-3">
          <input matInput placeholder="race" name="race" type="text" [(ngModel)]="pc.race">
        </mat-form-field>
        <mat-form-field class="col-xs-3">
          <mat-select matInput placeholder="Alignment" name="Alignment" [(ngModel)]="pc.alignment">
            <mat-option *ngFor="let alignment of alignments" [value]="alignment.selector">{{ alignment.val }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-xs-3">
          <input matInput placeholder="xp" name="xp" type="number" [(ngModel)]="pc.xp" min=0>
        </mat-form-field>
      </mat-card>

      <!--row 3-->
      <mat-card class="col-xs-12">
        <!--ability expansion header-->
        <mat-expansion-panel class="col-xs-4">
          <mat-expansion-panel-header>
            <mat-panel-title>Ability Scores</mat-panel-title>
          </mat-expansion-panel-header>

          <div class="col-xs-12">
            <mat-form-field class="col-xs-6">
              <input matInput placeholder="STR" name="STR" (change)="recalcAbs(0)" type="number" [(ngModel)]="pc.abilities[0]" min=0>
            </mat-form-field>
            <div class="col-xs-6">
              <button mat-mini-fab color="accent">{{pc.absMods[0]}}</button>
            </div>
          </div>

          <div class="col-xs-12">
            <mat-form-field class="col-xs-6">
              <input matInput placeholder="DEX" name="DEX" (change)="recalcAbs(1)" type="number" [(ngModel)]="pc.abilities[1]" min=0>
            </mat-form-field>
            <div class="col-xs-6">
              <button mat-mini-fab color="accent">{{pc.absMods[1]}}</button>
            </div>
          </div>

          <div class="col-xs-12">
            <mat-form-field class="col-xs-6">
              <input matInput placeholder="CON" name="CON" (change)="recalcAbs(2)" type="number" [(ngModel)]="pc.abilities[2]" min=0>
            </mat-form-field>
            <div class="col-xs-6">
              <button mat-mini-fab color="accent">{{pc.absMods[2]}}</button>
            </div>
          </div>

          <div class="col-xs-12">
            <mat-form-field class="col-xs-6">
              <input matInput placeholder="WIS" name="WIS" (change)="recalcAbs(3)" type="number" [(ngModel)]="pc.abilities[3]" min=0>
            </mat-form-field>
            <div class="col-xs-6">
              <button mat-mini-fab color="accent">{{pc.absMods[3]}}</button>
            </div>
          </div>

          <div class="col-xs-12">
            <mat-form-field class="col-xs-6">
              <input matInput placeholder="INT" name="INT" (change)="recalcAbs(4)" type="number" [(ngModel)]="pc.abilities[4]" min=0>
            </mat-form-field>
            <div class="col-xs-6">
              <button mat-mini-fab color="accent">{{pc.absMods[4]}}</button>
            </div>
          </div>

          <div class="col-xs-12">
            <mat-form-field class="col-xs-6">
              <input matInput placeholder="CHR" name="CHR" (change)="recalcAbs(5)" type="number" [(ngModel)]="pc.abilities[5]" min=0>
            </mat-form-field>
            <div class="col-xs-6">
              <button mat-mini-fab color="accent">{{pc.absMods[5]}}</button>
            </div>
          </div>

        </mat-expansion-panel>
        <!--saves expansion header -->
        <mat-expansion-panel class="col-xs-6">
          <mat-expansion-panel-header>
            <mat-panel-title>Saves</mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <mat-checkbox name="strSaveProf" [(ngModel)]="pc.saveProficiencies[0]"></mat-checkbox>
            <mat-form-field>
              <input matInput placeholder="STR" name="STRsave" type="number" [(ngModel)]="pc.saves[0]"/>
            </mat-form-field>
          </div>
          <div>
            <mat-checkbox name="dexSaveProf" [(ngModel)]="pc.saveProficiencies[1]"></mat-checkbox>
            <mat-form-field>
              <input matInput placeholder="DEX" name="DEXsave" type="number" [(ngModel)]="pc.saves[1]"/>
            </mat-form-field>
          </div>
          <div>
            <mat-checkbox name="conSaveProf" [(ngModel)]="pc.saveProficiencies[2]"></mat-checkbox>
            <mat-form-field>
              <input matInput placeholder="CON" name="CONsave" type="number" [(ngModel)]="pc.saves[2]"/>
            </mat-form-field>
          </div>
          <div>
            <mat-checkbox name="wisSaveProf" [(ngModel)]="pc.saveProficiencies[3]"></mat-checkbox>
            <mat-form-field>
              <input matInput placeholder="WIS" name="WISsave" type="number" [(ngModel)]="pc.saves[3]"/>
            </mat-form-field>
          </div>
          <div>
            <mat-checkbox name="intSaveProf" [(ngModel)]="pc.saveProficiencies[4]"></mat-checkbox>
            <mat-form-field>
              <input matInput placeholder="INT" name="INTsave" type="number" [(ngModel)]="pc.saves[4]"/>
            </mat-form-field>
          </div>
          <div>
            <mat-checkbox name="chrSaveProf" [(ngModel)]="pc.saveProficiencies[5]"></mat-checkbox>
            <mat-form-field>
              <input matInput placeholder="CHR" name="CHRsave" type="number" [(ngModel)]="pc.saves[5]"/>
            </mat-form-field>
          </div>
        </mat-expansion-panel>
      </mat-card>

      <!--update button-->
      <mat-card-actions class="col-xs-12">
        <button mat-raised-button color="accent" (click)="savePC()">
          Save Changes
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-tab>

  <!--tab 2-->
  <!--<mat-tab label="Personality">-->
    <!--Page 2-->
  <!--</mat-tab>-->

  <!--tab 3-->
  <!--<mat-tab label="Spells">-->
    <!--Page 3-->
  <!--</mat-tab>-->

  <!--progress spinner -->
  <mat-spinner color="accent" *ngIf="!pcData"></mat-spinner>
</mat-tab-group>




