<mat-tab-group *ngIf="pcData | async">
  <mat-tab label="Overview">
    <form class="col-xs-10 col-xs-offset-1">
      <!--character overview banner -->
      <mat-form-field class="col-xs-6">
        <input matInput placeholder="name" name="name" type="text" [(ngModel)]="pc.name" >
        <input matInput placeholder="class" name="pcClass" type="text" [(ngModel)]="pc.classOne">
        <input matInput placeholder="level" name="level" type="number" [(ngModel)]="pc.classOneLevel" >

      </mat-form-field>

    </form>
  </mat-tab>

  <mat-tab label="Personality">
    Page 2
  </mat-tab>

  <mat-tab label="Spells">
    Page 3
  </mat-tab>

  <!--progress spinner -->
  <mat-spinner color="accent" *ngIf="!pcData"></mat-spinner>
</mat-tab-group>




