<!--Display a list of all items for this user-->
<div class="col-xs-6">
  <mat-nav-list>
    <!--display each item-->
    <mat-accordion>
      <mat-expansion-panel *ngFor="let item of myItems | async">
        <mat-expansion-panel-header (click)="onSelect(item)">
          <mat-panel-title> {{ item.name }} </mat-panel-title>
          <mat-panel-description> {{ item.classOne }} </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-action-row>
          <button class="actionButton" mat-raised-button color="primary" (click)="gotoDetail()"> Details </button>
          <button class="actionButton" mat-raised-button color="warn" (click)="deleteItem()"> Delete </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-nav-list>
</div>


<!--Display preview of selected-->
<div class="col-xs-6">
  <div *ngIf="currentItem">
    <h2>
      {{ currentItem.name }} selected
    </h2>
  </div>
</div>


<!--For adding new items -->
<div class="col-xs-12 newButton">
  <button class="actionButton" mat-fab color="accent" (click)="createItem()">
    <mat-icon>add</mat-icon>
  </button>
</div>
