<div class="col-xs-6 col-xs-offset-3">
    <form>
        <h3>You Arrive in a Shadowy Tavern...</h3>

        <div class="form-group">
            <label  for="inputEmail">Email address</label>
            <input name="email" [(ngModel)]="email" type="email" class="form-control" id="inputEmail" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input name="password" [(ngModel)]="password" type="password" class="form-control" id="inputPassword"
                   placeholder="Password">
        </div>
        <div class="form-group">
            <label for="inputPasswordConfirm">Confirm</label>
            <input name="password" [(ngModel)]="passwordConfirm" type="password" class="form-control" id="inputPasswordConfirm"
                   placeholder="Password">
        </div>
        <button class="btn btn-default" (click)="registerUser()">Sign up</button>
        <a class="btn btn-default" (click)="toLogin()">Back</a>
    </form>
</div>
