<!--Display a list of all characters for this user-->
<div class="col-xs-6">
  <md-nav-list>
    <!--display each character-->
    <md-accordion>
      <md-expansion-panel *ngFor="let character of myCharacters | async">
        <md-expansion-panel-header (click)="onSelect(character)">
          <md-panel-title> {{ character.name }} </md-panel-title>
          <md-panel-description> {{ character.class }} </md-panel-description>
        </md-expansion-panel-header>
        <md-action-row>
          <button md-raised-button color="primary" (click)="gotoDetail()"> Details </button>
          <button md-raised-button color="warn" (click)="deleteCharacter()"> Delete </button>
        </md-action-row>
      </md-expansion-panel>
    </md-accordion>
  </md-nav-list>
</div>


<!--Display preview of selected-->
<div class="col-xs-6">
    <div *ngIf="currentPC">
        <h2>
            {{ currentPC.name }} selected
        </h2>
    </div>
</div>


<!--For adding new characters -->
<div class="col-xs-12 newButton">
    <button class="btn btn-sm btn-success" (click)="createCharacter()">New</button>
</div>
