<!--Display a list of all characters for this user-->
<div class="col-xs-4">
    <md-nav-list *ngIf="myCharacters">
        <a *ngFor="let character of myCharacters | async"
            (click)="onSelect(character)"
            [class.selected] = "character === currentPC">
            <span class="badge">{{ character.class }} ({{ character.level}})</span>  {{character.name}}
        </a>
    </md-nav-list>
    <!--<md-nav-list>-->
      <!--<a md-list-item href="..." *ngFor="let link of links"> {{ link }} </a>-->
    <!--</md-nav-list>-->

</div>


<!--Display preview of selected-->
<div class="col-xs-8">
    <div *ngIf="currentPC">
        <h2>
            {{ currentPC.name }} selected
        </h2>
        <button class="btn btn-info" (click)="gotoDetail()">View Details</button>
        <button class="btn btn-danger" (click)="deleteCharacter()">Delete</button>
    </div>
</div>


<!--For adding new characters -->
<div class="col-xs-12 newButton">
    <button class="btn btn-sm btn-success" (click)="createCharacter()">New</button>
</div>
