<!--Display a list of all characters for this user-->
<div class="col-xs-6">
  <mat-nav-list>
    <!--display each character-->
    <mat-accordion>
      <mat-expansion-panel *ngFor="let character of myCharacters | async">
        <mat-expansion-panel-header (click)="onSelect(character)">
          <mat-panel-title> {{ character.name }} </mat-panel-title>
          <mat-panel-description> {{ character.class }} </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-action-row>
          <button class="actionButton" mat-raised-button color="primary" (click)="gotoDetail()"> Details </button>
          <button class="actionButton" mat-raised-button color="warn" (click)="deleteCharacter()"> Delete </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-nav-list>
</div>


<!--Display preview of selected-->
<div class="col-xs-6">
    <div *ngIf="currentPC">
        <h2>
            {{ currentPC.name }} selected
        </h2>
    </div>
</div>


<!--For adding new characters -->
<div class="col-xs-12 newButton">
    <button class="actionButton" mat-fab color="accent" (click)="createCharacter()">
      <mat-icon>add</mat-icon>
    </button>
</div>
